rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    /* ==========================
       Users
    ========================== */

    match /users/{userId} {

      allow read: if request.auth != null;

      allow create: if request.auth != null;

      allow update: if request.auth != null
                    && request.auth.uid == userId;

      allow delete: if false;

    }

    /* ==========================
       Support
    ========================== */

    match /support/{document} {

      allow create: if true;

      allow read: if request.auth != null;

      allow update: if false;

      allow delete: if false;

    }

    /* ==========================
       Contact
    ========================== */

    match /contact/{document} {

      allow create: if true;

      allow read: if request.auth != null;

      allow update: if false;

      allow delete: if false;

    }

    /* ==========================
       Recharge Requests
    ========================== */

    match /recharge/{document} {

      allow create: if true;

      allow read: if request.auth != null;

      allow update: if false;

      allow delete: if false;

    }

    /* ==========================
       Visitors
    ========================== */

    match /visitors/{document} {

      allow read: if true;

      allow create: if true;

      allow update: if true;

      allow delete: if false;

    }

    /* ==========================
       Admin
    ========================== */

    match /admin/{document} {

      allow read, write: if request.auth != null;

    }

    /* ==========================
       Default
    ========================== */

    match /{document=**} {

      allow read, write: if false;

    }

  }

}
