rules_version = '2';

service firebase.storage {

match /b/{bucket}/o {

/* Payment Proof */

match /payments/{allPaths=**} {

allow read:

if request.auth != null;

allow write:

if request.auth != null

&& request.resource.size < 10 * 1024 * 1024

&& request.resource.contentType.matches('image/.*');

}

}
}
const {onDocumentUpdated}=require("firebase-functions/v2/firestore");

const admin=require("firebase-admin");

admin.initializeApp();

exports.paymentApproved=

onDocumentUpdated(

"payments/{paymentId}",

async(event)=>{

const before=event.data.before.data();

const after=event.data.after.data();

if(

before.status==="Approved" ||

after.status!=="Approved"

){

return;

}

const userRef=

admin.firestore()

.collection("users")

.doc(after.userId);

await userRef.update({

coins:

admin.firestore.FieldValue.increment(after.coins)

});

});
import {

getMessaging,

getToken

}

from

"https://www.gstatic.com/firebasejs/11.6.1/firebase-messaging.js";

const messaging=getMessaging();

getToken(messaging,{

vapidKey:"YOUR_PUBLIC_VAPID_KEY"

})

.then(token=>{

console.log(token);

});
